.anim{
    background-color: red;

    text-align: center;
    transition: padding 1s,background 1s;
}
.anim:hover{
    background-color: blue;
    padding: 20px;
}
.div {
    background-color: blue;
    width: 200px;
    animation-name: essaie;
    animation-duration: 5s;
    animation-delay: 2s;
}
@keyframes essaie{
    from{
        background-color: blue;
    }
    to{
        background-color: red;
    }
}
.container{
    background-color: red
}